<div class="footer">
  
  <div class="container">
  
    <ul class="nav nav_right float_left">
      
      <li><a href="/" class="{% if page.url == "/index.html" %}selected{% endif %}">Why Instagive.io?</a></li>
      
      <li><a href="https://instagive.io/resources/InstagiveBrochure.pdf">Brochure (PDF)</a></li>
      <li><a href="/blog" class="{% if page.url == "/blog/index.html" %}selected{% endif %}">Blog</a></li>
      <li><a href="/terms" class="{% if page.url == "/terms/index.html" %}selected{% endif %}">Terms</a></li>
      <li><a href="/privacy" class="{% if page.url == "/privacy/index.html" %}selected{% endif %}">Privacy</a></li>
      <!--<li><a href="/security" class="{% if page.url == "/security/index.html" %}selected{% endif %}">Security</a></li>-->
      <li><a href="mailto:dallas@instagive.io">Contact Us</a></li>
    </ul>
    
    <p class="copyright float_right">
      &copy; 2014 Instagive.io. <a href="http://iconleak.com">Thanks, Icons</a>.
    </p>
    
  </div>
  
  <div class="clear"></div>

</div>