<div class="topbar">
  
  <div class="container">
  
    <ul class="nav nav_left float_left">
      <li id="logo">
        <a href="/">
          <img src="/assets/branding/logo.png">
        </a>
      </li>
    
      {% for link in site.nav_left %}
        {% assign selected = nil %}
        {% if page.url == link.url %}
          {% assign selected = 'selected' %}
        {% endif %}

        <li>
          <a class="{{ selected }}" href="{{ link.permalink }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  
    <ul class="nav nav_right float_right">
      {% for link in site.nav_right %}
        {% assign selected = nil %}
        {% if page.url == link.url %}
          {% assign selected = 'selected' %}
        {% endif %}

        <li class="{% if link.desktop_only %}desktop_only{% endif %}">
          <a class="{{ selected }}" href="{{ link.permalink }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="clear"></div>

</div>